#pc-wrap {
    .home-page {
        position: relative;
        width: 100%;
        height: auto;

        .trend-properties {
            padding: 100px 0px 76px;
            width: 100%;
            height: 697px;
            display: flex;
            flex-direction: row;

            .container {
                flex-direction: column;

                .info-box {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .left {
                        display: flex;
                        flex-direction: column;

                        span {
                            color: #181a20;
                            font-family: $font;
                            font-size: 34px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 150%;
                            letter-spacing: -0.646px;
                            text-transform: capitalize;

                            &.white {
                                color: #ffffff;
                            }
                        }

                        p {
                            color: #181a20;
                            font-family: $font;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 26px;

                            &.white {
                                color: #ffffff;
                            }
                        }
                    }

                    .right {
                        display: flex;

                        .swiper-trend-next {
                            margin-left: 28px;
                            cursor: pointer;
                        }

                        .swiper-trend-prev {
                            margin-right: 28px;
                            cursor: pointer;
                        }

                        .swiper-top-next {
                            margin-left: 28px;
                            cursor: pointer;
                        }

                        .swiper-top-prev {
                            margin-right: 28px;
                            cursor: pointer;
                        }
                    }
                }

                .more-box {
                    display: flex;
                    flex-direction: row;
                    cursor: pointer;
                    align-items: center;

                    span {
                        color: #181a20;
                        font-family: $font;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        text-transform: capitalize;
                    }

                    img {
                        margin-left: 10px;
                        width: 16px;
                        height: 16px;
                    }
                }

                .card-box {
                    position: relative;
                    margin-top: 64px;
                    display: flex;
                    flex-direction: row;

                    .empty-list {
                        width: 100%;
                        height: 280px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .trend-property-swiper {
                        width: 100%;
                        height: 400px;
                        display: flex;
                        flex-direction: row;

                        .trend-property-slide {
                            width: auto;
                            height: auto;
                            display: flex;
                            margin: 10px 0 10px;
                        }
                    }

                    .trend-card-box {
                        position: relative;
                        width: 300px;
                        height: 375px;
                        display: flex;
                        flex-direction: column;
                        transition: transform 0.3s;

                        &:hover {
                            opacity: 1;
                            transform: scale(1.05);
                        }

                        .card-img {
                            position: relative;
                            width: 100%;
                            height: 203px;
                            background-size: cover;
                            border-radius: 12px 12px 0px 0px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .popular-properties {
            padding: 100px 0px 76px;
            width: 100%;
            display: flex;
            flex-direction: row;
            background: #f6f6f6;

            .container {
                flex-direction: column;
                align-items: center;

                .info-box {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .left {
                        display: flex;
                        flex-direction: column;

                        span {
                            color: #181a20;
                            font-family: $font;
                            font-size: 34px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 150%;
                            letter-spacing: -0.646px;
                            text-transform: capitalize;

                            &.white {
                                color: #ffffff;
                            }
                        }

                        p {
                            color: #181a20;
                            font-family: $font;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 26px;

                            &.white {
                                color: #ffffff;
                            }
                        }
                    }

                    .right {
                        display: flex;
                    }
                }

                .card-box {
                    margin-top: 34px;
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .popular-property-swiper {
                        width: 100%;
                        height: 425px;
                        display: flex;
                        flex-direction: row;

                        .popular-property-slide {
                            width: auto;
                            height: auto;
                            display: flex;
                            margin: 10px 0 10px 18px;
                        }
                    }

                    .popular-card-box {
                        position: relative;
                        width: 400px;
                        height: 425px;
                        display: flex;
                        flex-direction: column;
                        transition: transform 0.3s, opacity 0.3s;

                        &:hover {
                            opacity: 1;
                            transform: scale(1.05);
                        }

                        .card-img {
                            position: relative;
                            width: 100%;
                            height: 203px;
                            background-size: cover;
                        }
                    }
                }
            }
        }
    }
}